<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="http://www.dailycal.org/" class="logo">
      <span>DC</span>
    </a>

    <div class="header-social">
    <ul>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/grades/">
        <i class="fa fa-facebook"></i>
        </a></li>
      <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.dailycal.org%2Fgrades%2F&via=dailycal&text=Guess%20the%20UC%20Berkeley%20department%20with%20the%20lowest%20grades&">
        <i class="fa fa-twitter"></i>
      </a></li>
    </ul>
    </div>

  </div>
</header>
