{% load staticfiles %}
{% load sass_tags %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Guess the UC Berkeley department with the lowest grades | The Daily Californian</title>

<meta name="description" content="Independent, student-run newspaper of the UC Berkeley campus and the Berkeley, CA community."/>
<link rel="publisher" href="http://plus.google.com/106924542694828305617/"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="The Daily Californian | Berkeley&#039;s News"/>
<meta property="og:description" content="Independent student newspaper for the University of California, Berkeley."/>
<meta property="og:url" content="http://www.dailycal.org"/>
<meta property="og:site_name" content="The Daily Californian"/>
<meta property="fb:admins" content="877855486"/>
<meta property="og:image" content="http://i0.wp.com/www.dailycal.org/assets/uploads/2014/04/fbimage1410x738.png"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="Independent, student-run newspaper of the UC Berkeley campus and the Berkeley, CA community."/>
<meta name="twitter:title" content="The Daily Californian | Berkeley&#039;s News"/>
<meta name="twitter:site" content="@dailycal"/>
<meta name="twitter:image" content="http://i0.wp.com/www.dailycal.org/assets/uploads/2014/04/fbimage1410x738.png"/>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/www.dailycal.org\/","name":"The Daily Californian","alternateName":"Daily Cal","potentialAction":{"@type":"SearchAction","target":"http:\/\/www.dailycal.org\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/www.dailycal.org","sameAs":["https:\/\/www.facebook.com\/dailycal","https:\/\/instagram.com\/dailycal\/","https:\/\/www.linkedin.com\/company\/the-daily-californian","http:\/\/plus.google.com\/106924542694828305617\/","https:\/\/www.youtube.com\/user\/thedailycaldaily","https:\/\/www.pinterest.com\/thedailycal\/","https:\/\/twitter.com\/dailycal"],"name":"The Daily Californian","logo":"http:\/\/www.dailycal.org\/assets\/uploads\/2015\/04\/stacked_logo_website.png"}</script>
<meta name="alexaVerifyID" content="hDBPVKNrkC4kNffv7Pg6HafUXQY"/>
<meta name="msvalidate.01" content="F030A7C31B4D22DE1E7441BD8A20E820"/>
<meta name="google-site-verification" content="yGR1tYNiG9Dau6ldY4nPjFBCcx5ISXczmtiNIo0rD0Q"/>

<link rel='shortcut icon' href='http://www.dailycal.org/assets/uploads/2012/02/favicon.png'/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/underscore.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/d3.v3.min.js' %}" type="text/javascript"></script>