{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extra-js %}
<script src="{% static 'js/typeahead.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/graphic_base.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dot_chart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/grade_histogram.js' %}" type="text/javascript"></script>
<script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

{% endblock %}

{% block content %}
<div class="container">

  <div class="top">
    <h1>Guess the UC Berkeley department with the lowest grades</h1>
    <p class="byline">By <a href="">SAHIL CHINOY</a> and <a href="">RONALD KWAN</a> &middot; <span class="date">DECEMBER 7, 2015</span></p>

    <p class="lead">At UC Berkeley, where students are concerned about the <a href="http://www.bostonglobe.com/ideas/2013/08/31/the-trouble-with-grade-inflation-works/tL6am7MEz56f3PA2MD7I3I/story.html" target="_blank">effects their grades might have</a> on their employment and graduate school prospects, hypotheses about the departments with the lowest grades abound.</p>

    <p class="lead">We'd like to see if those perceptions reflect reality. The Daily Californian analyzed more than 1.5 million grades given over the last 8 years to determine how grading has differed across departments. Grading policies differ across departments and grade averages don't necessarily measure the difficulty of a department's courses. Still, we found a significant disparity between the departments with the highest and lowest averages.</p>

    <p class="lead">We limited our analysis to undergraduate courses, considering only the departments that have issued more than 1,000 grades. These figures reflect grades awarded in classes offered by a particular department, not the GPA of students in a particular major. Data is from <a href="http://calanswers.berkeley.edu/" target="_blank">Cal Answers</a>.</p>

    <p class="lead">Before seeing the results, we'd like you to guess which department has had the lowest grade point average. You'll be able to compare your guess to others' and to the true ranking.</p>

    <div class="form">
      <h2>Which department do you think had the lowest average?</h2>
      <form id="main-form">
        <input id="main-input" class="typeahead" type="text">
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>

    <div id="results-container">
      <div id="results-text"></div>
      <div id="top-guesses-table"></div>
    </div>

  </div> <!-- top -->

  <div id="graphic">
    <div class="dot-chart" id="dot-chart"></div>

    <div class="stats-container">
      <div class="dropdown">
        <div class="dropdown-container">
          <p class="dropdown-description">Sort by</p>
          <p class="dropdown-button">Average grade</p>
          <ul class="dropdown-menu dropdown-select">
            <li>Alphabetical</li>
            <li>Average grade</li>
            <li>Discipline</li>
            <li>Number of grades</li>
          </ul>
        </div>
      </div>

      <div class="wrapper">
        <div class="stats" id="stats">
          <h2 class="instruction">Hover over a department</h2>
        </div>
      </div>

      <div class="histogram" id="histogram"></div>
    </div>
  </div>

</div> <!-- container -->

<script type="text/template" id="stats-template">
  <h2><%= sub %></h2>
  <div class="category-legend" style="background: <% print(DISCIPLINE_COLORS[discipline]) %>"></div><p><%= discipline %></p>
  <div class="stats">
    <ul>
      <li class="main-grade"><%= grade %></li>
      <li><% print(avg.toFixed(2)) %><span>Average</span></li>
      <li><% print(std.toFixed(2)) %><span>St. Dev.</span></li>
      <li><% print(fmtComma(num)) %><span>Grades</span></li>
    </ul>
  </div>
</script>

<script type="text/template" id="right-template">
  <p>Right! The department with the lowest average is Biology, with an average of 2.80. <b><%= num_guesses %></b> other people have guessed correctly. Here are the top guesses:</p>
</script>

<script type="text/template" id="close-template">
  <p>Close! <%= sub %> is actually ranked <b><% print(ordinal_suffix_of(rank)) %></b>, with an average of <b><% print(avg.toFixed(2)) %></b>. The department with the lowest average is Biology, with an average of 2.80.</p>
  <p><b><%= num_guesses %></b> other people have guessed <%= sub %>. Here are the top guesses:</p>
</script>

<script type="text/template" id="far-template">
  <p>Nope! <%= sub %> is actually ranked <b><% print(ordinal_suffix_of(rank)) %></b>, with an average of <b><% print(avg.toFixed(2)) %></b>. The department with the lowest average is Biology, with an average of 2.80.</p>
  <p><b><%= num_guesses %></b> other people have guessed <%= sub %>. Here are the top guesses:</p>
</script>

<script type="text/template" id="top-guesses-template">
  <table>
  <thead>
  <tr> 
    <th>Subject</th>
    <th class="figure">Number of people who guessed this subject</th>
    <th class="figure">GPA rank <br> (lowest to highest)</th>
    
  </tr>
  </thead>
  <tbody>
  <% _.each(guesses, function(guess, i) {%>
  <tr>
    <td><% print(guess.subject) %></td>
    <td class="figure"><% print(guess.count) %></td>
    <td class="figure"><% print(ordinal_suffix_of(guess.rank)) %></td>
  </tr>
  <% }) %>
  </tbody>
  </table>

  <h3 onClick="scrollToDotChart()"><a>Explore grade distributions by department &nbsp; <i class="fa fa-angle-double-down"></i></a></h3>
</script>

<script type="text/javascript">

// http://stackoverflow.com/questions/13627308/add-st-nd-rd-and-th-ordinal-suffix-to-a-number
function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}

Parse.initialize("mXhOmzRpt90nv6YLS7opoITqkFnBE9csUXYizqhU", "zk9uXvFddU2QFVqz4HBhYnvnFX1eXJEJAe38Zb36");

var data = {{ data|safe }};

var subject_list = _.map(data, function(elem) { return elem.sub });

var engine = new Bloodhound({
  local: subject_list,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  datumTokenizer: Bloodhound.tokenizers.whitespace
});

$('#main-input').typeahead({
  highlight: true,
  hint: false
},
{
  name: 'subjects',
  source: engine
});

var onFormSubmit = function() {
  var subject = $('#main-input').val();

  var stats = _.find(data, function(elem) {
    return elem.sub == subject;
  });

  if (!stats) {
    $('#results-container').css('display','block');
    $('#results-text').html("Please enter a valid department.");
    $('#top-guesses-table').html("");
    return false;
  }

  var Guess = Parse.Object.extend("Guess");
  var query = new Parse.Query(Guess);
  query.equalTo('subject', subject);
  query.first({
    success: function(guess) {
      if (guess) {
        guess.set('rank', stats.rank);
        guess.increment('count');
        guess.save();
      } else {
        var guess = new Guess();
        guess.set('subject', subject);
        guess.set('count', 1);
        guess.set('rank', stats.rank);
        guess.save();
      }
      
      stats['num_guesses'] = guess.get('count') - 1;

      updateResults(stats);
      loadTopGuesses();
    },
    error: function(object, error) {
      console.log(error);
    }
  });

  var loadTopGuesses = function() {
    var query = new Parse.Query(Guess);
    query.descending('count');
    query.limit(5);
    query.find({
      success: function(guesses) {
        var top_guesses = _.map(guesses, function(guess) {
          return {
            'subject': guess.get('subject'),
            'count': guess.get('count'),
            'rank': guess.get('rank')
          };
        });

        context = {};
        context['guesses'] = top_guesses;
        var topGuessesTemplate = _.template($('#top-guesses-template').html());
        var html = topGuessesTemplate(context);
        $('#top-guesses-table').html(html);

        afterDataLoad();
      },
      error: function(object, error) {
        console.log(error);
      }
    });
  }
}

var afterDataLoad = function() {
  $('#graphic').css("display", "block");
  dotChart(data, '#dot-chart');

  $('html, body').animate({
    scrollTop: $("#results-text").offset().top - 20
  }, 1000);
}

var scrollToDotChart = function() {
  $('html, body').animate({
    scrollTop: $("#dot-chart").offset().top - 20
  }, 1000);
}

var updateResults = function(stats) {
  if (stats.rank == 1) {
    var rightTemplate = _.template($('#right-template').html());
    var html = rightTemplate(stats);
  } else if (stats.rank < 10) {
    var closeTemplate = _.template($('#close-template').html());
    var html = closeTemplate(stats);
  } else {
    var farTemplate = _.template($('#far-template').html());
    var html = farTemplate(stats);
  }

  $('#results-container').css('display','block');
  $('#results-text').html(html);
}

$('#main-form').submit(function(event) {
  event.preventDefault();
  onFormSubmit();
});

var statsContainer = $(".stats-container");
$(document).scroll(function(e) {
    if($(this).scrollTop() > $("#dot-chart").offset().top && !isMobile) {
        statsContainer.css("display", "block");
        statsContainer.css({"position" : "fixed", "top" : "20px"});
    } else if(!isMobile) {
        statsContainer.css("position", "relative");
    } else {
      statsContainer.css("display", "none");
    }
});
</script>

{% endblock content %}