@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "header";
@import "stats";
@import "dropdown";
@import "graphic";
@import "histogram";
@import "dot_chart";

body {
	margin: 0;
}

.container {
	@include outer-container;
	margin: 20px auto;
}

.top {
	text-align: center;
	margin-bottom: $base-spacing * 4;

	h1 {
		margin-bottom: 0;
	}

	p.byline, p.date {
		margin: 0;
		text-transform: uppercase;
	}

	p.lead {
		font-family: Georgia;
		max-width: 600px;
		margin: $base-spacing auto 0 auto;
	}
}

.discipline .chart {
	@include span-columns(4);
}

.stats-container {
	@include span-columns(4);
	@include omega;

	display: none;

	position: relative;
	right: $gutter;

	h2 {
		margin: 0;
	}

	.category-legend {
		width: 10px;
		height: 10px;
		float: left;
		margin: 4px 8px 0 0;
	}

	p {
		color: $medium-gray;
		font-size: 12px;
	}
}